.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    text-align:center;
    box-sizing: border-box;
  }
  
  .firstContainer {
    
    max-width:900px;
    margin-top:10px;
    margin-bottom:150px;
}

.instructions-yes {
  color:green;
 
 }
 .instructions-no {
  color:red;
 
 }
 .instructions-not_yet {
  color:white;
 
 }