.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    text-align:center;
    box-sizing: border-box;
  }
  