.card {
    border-radius: 2px;
    margin: 4px;
    position: relative;
    width: 20%;
    min-width:150px;
    text-align: left;
    display:inline-block;
    overflow: hidden;
    box-sizing: border-box;
    padding:12px;
    transition:all .15s;
    background:none;
    cursor: pointer;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:#3b4767;
    box-sizing: border-box;
    width:100%;
    padding:7px;
    box-shadow: 0 3px 6px rgb(5, 74, 165), 0 3px 6px rgb(12, 97, 187);
  }
  .card > .img-container > img {
    width: 100%;
    box-sizing: border-box;
  }
  
  .card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
  }
  
  .card > .content > ul {
    list-style-type: none;
  }
  
  .card > .content > ul > li {
    margin-top: 18px;
  }
  
  .card > .remove {
    color: #ff1744;
    font-size: 48px;
    position: absolute;
    top: -20px;
    right: 5px;
    cursor: pointer;
  }
  
  .card > .remove:hover {
    color: #d50000;
  }
  
  .card:hover  {

    padding:5px;

  }

  .card:hover > .img-container {
    background:#455b97;
    border-radius:5px;
    box-shadow: 16px 16px 16px rgb(8, 84, 184), 0 3px 6px rgb(14, 109, 209);
  }